/* GENERAL */
$header-height: 80px;

* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

html {
  overflow-y: scroll;
}

header, main, #no-results {
  width: 100%;
  position: fixed;
}

main {
  top: $header-height;
  padding-left: 15px;
  padding-right: 15px;
}

#left-column {
  float: left;
  width: 20%;
  padding-right: 15px;
}

#right-column {
  float: right;
  width: 80%;
  padding-left: 15px;
  border-left: 1px solid #E6E6E6;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

/* INPUT */
header {
  height: $header-height;
}

#search-input {
  background-color: #1C688E;
  height: $header-height;
  padding: 20px 25px;
  
  .ais-search-box {
    height: 100%;

    input {
      height: 100%;
      width: 100%;
      color: #B3B3B3;
      font-size: 15px;
      border: 0;
      padding-left: 15px;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }
  
  &::-webkit-input-placeholder, &:-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
    font-weight: 100;
    color: #999;
  }
}

/* HITS */
#hits {
  margin: 4px 0;
  padding: 10px 0;
  
  .hit {
    font-size: 0;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    
    .hit-image {
      display: inline-block;
      width: 16%;
      
      img {
        max-width: 100%;
        max-height: 180px;
      }
    }
    
    .hit-content {
      font-size: 13px;
      font-weight: 300;
      display: inline-block;
      width: 83%;
      margin-left: 1%;
      vertical-align: top;
      
      .hit-name {
        font-weight: normal;
        margin-top: 0;
      }

      em {
        font-style: normal;
        background: #fbdde0;
      }
      
      .hit-description {
        color: #999;
      }
    }
  }
}

/* PAGINATION */
#pagination {
  margin-top: 60px;
  
  ul {
    font-size: 0;
    list-style-type: none;
    text-align: center;
  }
  
  li {
    font-size: 14px;
    display: inline;
  }
  
  a {
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
    border: 1px solid #eee;

    &:hover {
      background: #f5f5f5;
    }
  }
}

#pagination li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#pagination li:last-child a {
  border-right: 1px solid #eee;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#pagination li.ais-pagination--item__active a {
  color: white;
  border-color: #ed5565;
  background: #ed5565;
}
#pagination li.ais-pagination--item__active a:hover {
  cursor: default;
}
#pagination li.ais-pagination--item__disabled a {
  cursor: not-allowed;
}
#pagination li.ais-pagination--item__disabled a:hover {
  background: none;
}

/* SORT BY */
#sort-by-wrapper {
  font-weight: 300;
  position: relative;
  float: right;
  color: #999;
}

#sort-by select {
  font-size: 16px;
  padding-right: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#sort-by:after {
  content: "";
  display: inline-block;
  position: absolute;

  top: 8px;
  right: 0;

  width: 0;
  height: 0;

  margin-left: 2px;
  vertical-align: middle;

  color: #000;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;

  pointer-events: none;
}

/* STATS */
#stats {
  padding-top: 30px;

  .ais-stats--time {
    font-size: 1.2em;
    color: black;

    span {
      font-size: 0.8em;
      color: #999;
    }

    .stats-border {
      width: 100%;
      border-bottom: 2px solid #eee;
    }
  }
}


/* FACETS */
.facet {
  margin-bottom: 24px;

  &#food_type {
    padding-top: 30px;
  }
  
  h5 {
    margin: 0 0 6px;
    padding: 0 0 6px;
    font-size: 14px;
    color: #333333;
  }
}

// .ais-body {
//   padding-left: 8px;
// }

.ais-refinement-list--label,
.ais-menu--link {
  font-size: 13px;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.ais-menu--item, .ais-star-rating--item {
  a {
    padding-left: 10px;

    span {
      padding-right: 10px;
    }
  }
}

.ais-menu--item:hover, .ais-menu--item__active,
.ais-star-rating--item:hover, .ais-star-rating--item__active {
  background-color: #2897C5;
  border-radius: 5px;
  cursor: pointer;

  a {
    color: #FFFFFF;

    &:hover {
      text-decoration: none;
    }
    
    span {
      color: #FFFFFF;
    }
  }
}

.ais-refinement-list--count,
.ais-menu--count,
.ais-star-rating--count {
  position: relative;
  top: 3px;
  float: right;
  color: #9A9A9A;
}

.ais-star-rating--count {
  top: 0;
}

/* NO RESULTS */
.no-results #pagination, .no-results #sort-by, .no-results #stats, .no-results #facets {
  display: none;
}
#no-results-message {
  text-align: center;
}
#no-results-message p {
  font-size: 28px;
  font-weight: 100;
}
#no-results-message ul {
  list-style-type: none;
}
#no-results-message li {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  padding: 4px 28px 4px 8px;
  color: #999;
  border: 1px solid #ddd;
  border-radius: 12px;
}
#no-results-message li span.value {
  font-weight: bold;
  color: #000;
}
#no-results-message li a.remove img {
  position: absolute;
  top: 3px;
  right: 5px;
  float: right;
  width: 17px;
  height: 17px;
  opacity: .5;
}
#no-results-message li a.remove:hover img {
  opacity: 1;
}
a.clear-all {
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
  border: 2px solid #ddd;
  border-radius: 4px;
}
a.clear-all:hover {
  transition: border-color .3s ease-in;
  border-color: #999;
}
