/* GENERAL */
/* line 4, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif; }

/* line 8, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
html {
  overflow-y: scroll; }

/* line 12, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
header, main, #no-results {
  width: 100%; }

/* line 16, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
main {
  position: relative;
  top: 80px;
  padding-left: 20px;
  padding-right: 20px; }

/* line 23, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#left-column {
  position: fixed;
  top: 80px;
  float: left;
  width: 20%;
  padding-right: 25px; }

/* line 31, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#right-column {
  float: right;
  width: 80%;
  padding-left: 30px;
  border-left: 1px solid #E6E6E6;
  max-height: 558px;
  overflow-y: hidden; }

/* line 40, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.clear:after {
  content: '';
  display: table;
  clear: both; }

/* INPUT */
/* line 47, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
header {
  position: fixed;
  height: 80px;
  z-index: 1000; }

/* line 53, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
::-webkit-input-placeholder {
  color: #B3B3B3; }

/* line 57, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#search-input {
  background-color: #1C688E;
  height: 80px;
  padding: 20px 25px; }
  /* line 62, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #search-input .ais-search-box {
    height: 100%; }
    /* line 65, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #search-input .ais-search-box input {
      height: 100%;
      width: 100%;
      color: black;
      font-size: 15px;
      border: 0;
      padding-left: 15px;
      border-radius: 5px; }
      /* line 74, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #search-input .ais-search-box input:focus {
        outline: none; }
  /* line 80, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #search-input::-webkit-input-placeholder, #search-input:-moz-placeholder, #search-input:-moz-placeholder, #search-input:-ms-input-placeholder {
    font-weight: 100;
    color: #999; }

/* HITS */
/* line 87, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#hits {
  margin: 4px 0;
  padding: 10px 0; }
  /* line 91, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #hits .hit {
    font-size: 0;
    padding: 8px 0;
    border-bottom: 1px solid #eee; }
    /* line 96, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #hits .hit .hit-image {
      display: inline-block;
      width: 86px;
      height: 93px; }
      /* line 101, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #hits .hit .hit-image img {
        max-width: 100%;
        max-height: 180px; }
    /* line 107, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #hits .hit .hit-content {
      font-size: 14px;
      font-weight: 300;
      display: inline-block;
      width: 325px;
      margin-left: 10px;
      vertical-align: top; }
      /* line 115, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #hits .hit .hit-content h2, #hits .hit .hit-content p {
        margin-bottom: 5px; }
      /* line 119, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #hits .hit .hit-content .hit-name {
        font-weight: normal;
        margin-top: 0;
        font-size: 16px; }
      /* line 125, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #hits .hit .hit-content .hit-rating--count {
        color: #FFAB66;
        padding-right: 5px; }
      /* line 130, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #hits .hit .hit-content .hit-rating--reviews {
        padding-left: 5px; }
      /* line 134, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #hits .hit .hit-content .hit-description, #hits .hit .hit-content .hit-rating--reviews {
        color: #999; }

/* line 141, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.show-more {
  position: fixed;
  visibility: hidden;
  top: 482px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: white;
  text-align: center; }
  /* line 151, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  .show-more button {
    height: 37px;
    width: 184px;
    font-size: 14px;
    margin-top: 30px;
    margin-left: -184px; }

/* PAGINATION */
/* line 161, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination {
  margin-top: 30px;
  margin-bottom: 30px; }
  /* line 165, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #pagination ul {
    font-size: 0;
    list-style-type: none;
    text-align: center;
    padding-left: 0; }
  /* line 172, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #pagination li {
    font-size: 14px;
    display: inline; }
  /* line 177, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #pagination a {
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
    border: 1px solid #eee; }
    /* line 183, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #pagination a:hover {
      background: #f5f5f5; }

/* line 189, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

/* line 193, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination li:last-child a {
  border-right: 1px solid #eee;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

/* line 198, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination li.ais-pagination--item__active a {
  color: white;
  border-color: #ed5565;
  background: #ed5565; }

/* line 203, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination li.ais-pagination--item__active a:hover {
  cursor: default; }

/* line 206, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination li.ais-pagination--item__disabled a {
  cursor: not-allowed; }

/* line 209, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination li.ais-pagination--item__disabled a:hover {
  background: none; }

/* SORT BY */
/* line 214, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#sort-by-wrapper {
  font-weight: 300;
  position: relative;
  float: right;
  color: #999; }

/* line 221, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#sort-by select {
  font-size: 16px;
  padding-right: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

/* line 232, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#sort-by:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  color: #000;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  pointer-events: none; }

/* STATS */
/* line 255, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#stats {
  padding-top: 30px; }
  /* line 259, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #stats .ais-stats--time div {
    display: inline-block; }
    /* line 262, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #stats .ais-stats--time div.container {
      font-size: 1.5vw;
      color: black;
      padding-left: 0; }
      /* line 267, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #stats .ais-stats--time div.container span {
        font-size: 1vw;
        color: #999; }
    /* line 273, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #stats .ais-stats--time div.stats-border {
      border-bottom: 2px solid #eee;
      margin-bottom: -5px; }

/* CLEAR ALL */
/* line 282, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#clear-all {
  padding-top: 30px; }
  /* line 285, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #clear-all .ais-clear-all {
    background-color: #ed5565; }
    /* line 288, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #clear-all .ais-clear-all a {
      color: white; }
      /* line 291, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #clear-all .ais-clear-all a:hover {
        text-decoration: none;
        cursor: pointer; }

/* FACETS */
/* line 301, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.facet {
  margin-bottom: 24px; }
  /* line 304, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  .facet#food_type {
    padding-top: 30px; }
  /* line 308, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  .facet h5 {
    margin: 0 0 6px;
    padding: 0 0 6px;
    font-size: 14px;
    color: #333333; }

/* line 316, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.ais-refinement-list--label,
.ais-menu--link {
  font-size: 1vw;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  cursor: pointer; }

/* line 325, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.ais-menu--item a, .ais-star-rating--item a {
  padding-left: 10px; }
  /* line 328, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  .ais-menu--item a span, .ais-star-rating--item a span {
    padding-right: 10px; }

/* line 334, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.ais-menu--item:hover, .ais-menu--item__active,
.ais-star-rating--item:hover, .ais-star-rating--item__active {
  background-color: #2897C5;
  border-radius: 5px;
  cursor: pointer; }
  /* line 340, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  .ais-menu--item:hover a, .ais-menu--item__active a,
  .ais-star-rating--item:hover a, .ais-star-rating--item__active a {
    color: #FFFFFF; }
    /* line 343, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    .ais-menu--item:hover a:hover, .ais-menu--item__active a:hover,
    .ais-star-rating--item:hover a:hover, .ais-star-rating--item__active a:hover {
      text-decoration: none; }
    /* line 347, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    .ais-menu--item:hover a span, .ais-menu--item__active a span,
    .ais-star-rating--item:hover a span, .ais-star-rating--item__active a span {
      color: #FFFFFF; }

/* line 353, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.ais-refinement-list--count,
.ais-menu--count,
.ais-star-rating--count {
  position: relative;
  top: 3px;
  float: right;
  color: #9A9A9A;
  font-size: 1vw; }

/* line 363, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.ais-star-rating--count {
  top: 1px; }

/* NO RESULTS */
/* line 368, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.no-results #pagination, .no-results #sort-by, .no-results #stats, .no-results #facets, .no-results #show-more {
  display: none; }

/* line 371, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message {
  text-align: center; }

/* line 374, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message p {
  font-size: 28px;
  font-weight: 100; }
  /* line 378, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #no-results-message p em {
    color: red; }

/* line 382, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message ul {
  list-style-type: none; }

/* line 385, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message li {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  padding: 4px 28px 4px 8px;
  color: #999;
  border: 1px solid #ddd;
  border-radius: 12px; }

/* line 395, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message li span.value {
  font-weight: bold;
  color: #000; }

/* line 399, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message li a.remove img {
  position: absolute;
  top: 3px;
  right: 5px;
  float: right;
  width: 17px;
  height: 17px;
  opacity: .5; }

/* line 408, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message li a.remove:hover img {
  opacity: 1; }

/* line 411, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
a.clear-all {
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  text-decoration: none;
  color: white;
  background-color: red;
  border: 2px solid red;
  border-radius: 4px; }

@media (max-width: 800px) {
  /* line 425, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #left-column {
    width: 25%; }
  /* line 429, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #right-column {
    width: 75%; }
  /* line 434, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #stats .container {
    width: 34%; }
  /* line 437, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #stats .stats-border {
    width: 66%; } }

@media (max-width: 715px) {
  /* line 445, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #stats .container {
    width: 36%; }
  /* line 448, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #stats .stats-border {
    width: 64%; } }

@media (min-width: 800px) and (max-width: 1000px) {
  /* line 455, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #left-column {
    width: 22%; }
  /* line 459, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #right-column {
    width: 78%; }
  /* line 464, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #stats .container {
    width: 32%; }
  /* line 467, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #stats .stats-border {
    width: 68%; } }

@media (min-width: 1000px) and (max-width: 1280px) {
  /* line 474, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #left-column {
    width: 20%; }
  /* line 478, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #right-column {
    width: 80%; }
  /* line 483, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #stats .container {
    width: 30%; }
  /* line 486, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #stats .stats-border {
    width: 70%; } }

/*# sourceMappingURL=../../scss */