/* GENERAL */
/* line 4, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif; }

/* line 8, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
html, body {
  height: 100%; }

/* line 12, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#content-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../resources/graphics/background.png");
  background-repeat: repeat; }
  /* line 21, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #content-container #search-container {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 100px;
    right: 100px;
    overflow: hidden;
    background-color: white; }

/* line 32, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
main {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 100%; }

/* line 40, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#left-column {
  position: relative;
  float: left;
  width: 30%;
  height: 100%;
  padding-right: 25px;
  padding-left: 20px;
  overflow-y: scroll; }

/* line 50, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#right-column {
  position: relative;
  float: left;
  width: 70%;
  padding-left: 30px;
  border-left: 1px solid #E6E6E6;
  height: 100%;
  overflow-y: scroll; }

/* line 60, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.clear:after {
  content: '';
  display: table;
  clear: both; }

/* INPUT */
/* line 67, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
header {
  position: absolute;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1000; }

/* line 75, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
::-webkit-input-placeholder {
  color: #B3B3B3; }

/* line 79, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#search-input {
  background-color: #1C688E;
  height: 80px;
  padding: 20px 25px; }
  /* line 84, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #search-input .ais-search-box {
    height: 100%; }
    /* line 87, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #search-input .ais-search-box input {
      height: 100%;
      width: 100%;
      color: black;
      font-size: 15px;
      border: 0;
      padding-left: 15px;
      border-radius: 5px; }
      /* line 96, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #search-input .ais-search-box input:focus {
        outline: none; }
  /* line 102, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #search-input::-webkit-input-placeholder, #search-input:-moz-placeholder, #search-input:-moz-placeholder, #search-input:-ms-input-placeholder {
    font-weight: 100;
    color: #999; }

/* HITS */
/* line 109, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#hits {
  margin: 4px 0;
  padding: 10px 0; }
  /* line 113, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #hits .hit {
    font-size: 0;
    padding: 8px 0;
    border-bottom: 1px solid #eee; }
    /* line 118, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #hits .hit .hit-image {
      display: inline-block;
      width: 86px;
      height: 93px; }
      /* line 123, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #hits .hit .hit-image img {
        max-width: 100%;
        max-height: 180px; }
    /* line 129, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #hits .hit .hit-content {
      font-size: 14px;
      font-weight: 300;
      display: inline-block;
      margin-left: 10px;
      vertical-align: top; }
      /* line 137, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #hits .hit .hit-content h2, #hits .hit .hit-content p {
        margin-bottom: 5px; }
      /* line 141, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #hits .hit .hit-content .hit-name {
        font-weight: normal;
        margin-top: 0;
        font-size: 16px; }
      /* line 147, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #hits .hit .hit-content .hit-rating--count {
        color: #FFAB66;
        padding-right: 5px; }
      /* line 152, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #hits .hit .hit-content .hit-rating--reviews {
        padding-left: 5px; }
      /* line 156, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #hits .hit .hit-content .hit-description, #hits .hit .hit-content .hit-rating--reviews {
        color: #999; }

/* line 163, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.show-more {
  position: fixed;
  visibility: hidden;
  top: 482px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: white;
  text-align: center; }
  /* line 173, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  .show-more button {
    height: 37px;
    width: 184px;
    font-size: 14px;
    margin-top: 30px;
    margin-left: -184px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    color: #000000;
    background-color: white; }
    /* line 184, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    .show-more button:hover {
      color: white;
      background-color: black; }

/* PAGINATION */
/* line 192, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination {
  margin-top: 30px;
  margin-bottom: 30px; }
  /* line 196, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #pagination ul {
    font-size: 0;
    list-style-type: none;
    text-align: center;
    padding-left: 0; }
  /* line 203, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #pagination li {
    font-size: 14px;
    display: inline; }
  /* line 208, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #pagination a {
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
    border: 1px solid #eee; }
    /* line 214, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #pagination a:hover {
      background: #f5f5f5; }

/* line 220, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

/* line 224, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination li:last-child a {
  border-right: 1px solid #eee;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

/* line 229, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination li.ais-pagination--item__active a {
  color: white;
  border-color: #ed5565;
  background: #ed5565; }

/* line 234, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination li.ais-pagination--item__active a:hover {
  cursor: default; }

/* line 237, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination li.ais-pagination--item__disabled a {
  cursor: not-allowed; }

/* line 240, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#pagination li.ais-pagination--item__disabled a:hover {
  background: none; }

/* SORT BY */
/* line 245, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#sort-by-wrapper {
  font-weight: 300;
  position: relative;
  float: right;
  color: #999; }

/* line 252, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#sort-by select {
  font-size: 16px;
  padding-right: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

/* line 263, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#sort-by:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  color: #000;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  pointer-events: none; }

/* STATS */
/* line 286, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#stats {
  padding-top: 30px; }
  /* line 290, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #stats .ais-stats--time div {
    display: inline-block; }
    /* line 293, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #stats .ais-stats--time div.container {
      width: 100%;
      font-size: 14px;
      color: black;
      padding-left: 0; }
      /* line 299, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #stats .ais-stats--time div.container span {
        font-size: 12px;
        color: #999; }
    /* line 305, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #stats .ais-stats--time div.stats-border {
      position: absolute;
      top: 45px;
      left: 250px;
      right: 15px;
      border-bottom: 2px solid #eee;
      margin-bottom: -5px; }

/* CLEAR ALL */
/* line 318, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#clear-all {
  padding-top: 30px; }
  /* line 321, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #clear-all .ais-clear-all {
    background-color: #ed5565; }
    /* line 324, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    #clear-all .ais-clear-all a {
      color: white; }
      /* line 327, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
      #clear-all .ais-clear-all a:hover {
        text-decoration: none;
        cursor: pointer; }

/* FACETS */
/* line 337, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.facet {
  margin-bottom: 24px; }
  /* line 340, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  .facet#food_type {
    padding-top: 30px; }
  /* line 344, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  .facet h5 {
    margin: 0 0 6px;
    padding: 0 0 6px;
    font-size: 14px;
    color: #333333; }

/* line 352, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.ais-refinement-list--label,
.ais-menu--link {
  font-size: 1.1vw;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  cursor: pointer; }

/* line 361, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.ais-menu--item a, .ais-star-rating--item a {
  padding-left: 10px; }
  /* line 364, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  .ais-menu--item a span, .ais-star-rating--item a span {
    padding-right: 10px; }

/* line 370, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.ais-menu--item:hover, .ais-menu--item__active,
.ais-star-rating--item:hover, .ais-star-rating--item__active {
  background-color: #2897C5;
  border-radius: 5px;
  cursor: pointer; }
  /* line 376, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  .ais-menu--item:hover a, .ais-menu--item__active a,
  .ais-star-rating--item:hover a, .ais-star-rating--item__active a {
    color: #FFFFFF; }
    /* line 379, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    .ais-menu--item:hover a:hover, .ais-menu--item__active a:hover,
    .ais-star-rating--item:hover a:hover, .ais-star-rating--item__active a:hover {
      text-decoration: none; }
    /* line 383, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
    .ais-menu--item:hover a span, .ais-menu--item__active a span,
    .ais-star-rating--item:hover a span, .ais-star-rating--item__active a span {
      color: #FFFFFF; }

/* line 389, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.ais-refinement-list--count,
.ais-menu--count,
.ais-star-rating--count {
  position: relative;
  top: 3px;
  float: right;
  color: #9A9A9A;
  font-size: 1.1vw; }

/* line 399, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.ais-star-rating--count {
  top: 1px; }

/* NO RESULTS */
/* line 404, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
.no-results #pagination, .no-results #sort-by, .no-results #stats, .no-results #facets {
  display: none; }

/* line 407, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message {
  text-align: center; }

/* line 410, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message p {
  font-size: 28px;
  font-weight: 100; }
  /* line 414, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
  #no-results-message p em {
    color: red; }

/* line 418, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message ul {
  list-style-type: none; }

/* line 421, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message li {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  padding: 4px 28px 4px 8px;
  color: #999;
  border: 1px solid #ddd;
  border-radius: 12px; }

/* line 431, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message li span.value {
  font-weight: bold;
  color: #000; }

/* line 435, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message li a.remove img {
  position: absolute;
  top: 3px;
  right: 5px;
  float: right;
  width: 17px;
  height: 17px;
  opacity: .5; }

/* line 444, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
#no-results-message li a.remove:hover img {
  opacity: 1; }

/* line 447, /Users/leranfirer/Documents/instantSearch/assets/scss/main.scss */
a.clear-all {
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  text-decoration: none;
  color: white;
  background-color: red;
  border: 2px solid red;
  border-radius: 4px; }

/*# sourceMappingURL=../../scss */